*, *:before, *:after {
	  box-sizing: border-box;
	}
	
	.plane {
	  font-size: 16px;
	  margin: 20px 0 0 10%;
	  max-width: 300px;
	}
	
	.cockpit {
	  height: 250px;
	  position: relative;
	  overflow: hidden;
	  text-align: center;
	  border-bottom: 5px solid #d8d8d8;
	}
	.cockpit:before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 500px;
	  width: 100%;
	  border-radius: 50%;
	  border-right: 5px solid #d8d8d8;
	  border-left: 5px solid #d8d8d8;
	}
	.cockpit h1 {
	  width: 60%;
	  margin: 100px auto 35px auto;
	}
	
	.exit {
	  position: relative;
	  height: 50px;
	}
	.exit:before, .exit:after {
	  content: "EXIT";
	  font-size: 14px;
	  line-height: 18px;
	  padding: 0px 2px;
	  font-family: "Arial Narrow", Arial, sans-serif;
	  display: block;
	  position: absolute;
	  background: green;
	  color: white;
	  top: 50%;
	  transform: translate(0, -50%);
	}
	.exit:before {
	  left: 0;
	}
	.exit:after {
	  right: 0;
	}
	
	.fuselage {
	  border-right: 5px solid #d8d8d8;
	  border-left: 5px solid #d8d8d8;
	}
	
	ol {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}
	
	.seats {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: flex-start;
	}
	
	.seat {
	  display: flex;
	  flex: 0 0 14.2857142857%;
	  padding: 5px;
	  position: relative;
	  width: 48px;
	}
	.seat:nth-child(3) {
	  margin-right: 14.2857142857%;
	}
	.seat input[type=radio] {
	  position: absolute;
	  opacity: 0;
	}
	.seat input[type=radio]:checked + label {
		color: white;
	  background: rgba(214, 133, 0, 0.89);
	  -webkit-animation-name: rubberBand;
	  animation-name: rubberBand;
	  animation-duration: 300ms;
	  animation-fill-mode: both;
	}
	.seat input[type=radio]:disabled + label {
	  color: #666;
	  background: #dddddd;
	  text-indent: -9999px;
	  overflow: hidden;
	}
	.seat input[type=radio]:disabled + label:after {
	  content: "X";
	  text-indent: 0;
	  position: absolute;
	  top: 4px;
	  left: 50%;
	  transform: translate(-50%, 0%);
	}
	.seat input[type=radio]:disabled + label:hover {
	  box-shadow: none;
	  cursor: not-allowed;
	}
	.seat label {
	  color: #666;
	  display: block;
	  position: relative;
	  width: 100%;
	  text-align: center;
	  font-size: 14px;
	  font-weight: bold;
	  line-height: 1.5rem;
	  padding: 4px 0;
	  background: #f4f4f4;
	  border-radius: 5px;
	  animation-duration: 300ms;
	  animation-fill-mode: both;
	}
	.seat label:before {
	  content: "";
	  position: absolute;
	  width: 75%;
	  height: 75%;
	  top: 1px;
	  left: 50%;
	  transform: translate(-50%, 0%);
	  /* background: rgba(255, 255, 255, 0.4); */
	  border-radius: 3px;
	}
	.seat label:hover {
	  cursor: pointer;
	  box-shadow: 0 0 0px 2px #396fa5;
	}
	.seat.vip label {
		background: rgba(41, 117, 180, 0.56);
		color: white;
	}
	.seat label.vip {
		background: rgba(41, 117, 180, 0.56);
		color: white;
	}
	.seat label.save {
		background: #bdf1b7;
	}
	.seat.reference label:hover{
		box-shadow:none;
		cursor: default;
	}
	.legend{
		margin-top: 20%;
		margin-left: 50px;
	}
	.legend dl {
		  display: grid;
		  grid-template-columns: max-content auto;
		}
		
	.legend 	dt {
		  grid-column-start: 1;
		  margin-top: 20px;
		}
		
	.legend 	dd {
		  grid-column-start: 2;
		  padding-top: 3%;
		  margin-top: 20px;
		  margin-left: 5%;
		}
	.row.buttons{
		margin-top: 40px;
	}
	.skip{
		text-align: right;
	}
	
	/* Summary*/
	.summary td{
		padding: 8px;
		min-width: 200px;
	}
	.summary tr td:nth-child(2){
		text-align: right;
	}
	.summary-total{
		font-weight: bold;
	}
	.back-button{
		background-color: #454545;
		border: none;
		border-radius: 5px;color: #fff;font-size: 16px;font-weight: 600;
		padding: 12px;
		position: absolute;
	}
	a.back-button{
		cursor: pointer;
	}